{% if profile and profile.image %}
    <img src="{{ profiles ~ profile.image }}" class="inline-block rounded-full ring-2 ring-white" style="width: {{ size }}px; height: {{ size }}px;">
{% else %}
    <div class="inline-block bg-gray-200 rounded-full text-3xl" style="width: {{ size }}px; height: {{ size }}px;">

    </div>
{% endif %}

